.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features {
  display: flex;
  align-items: stretch;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.videoSection {
  padding: 4rem 0;
  background-color: var(--ifm-color-emphasis-100);
}

.videoWrapper {
  margin-top: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.videoWrapper iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.whySection {
  padding: 4rem 0;
}

.whySection ul {
  font-size: 1.1rem;
  line-height: 1.8;
}

.whySection h3 {
  margin-bottom: 1rem;
  color: var(--ifm-color-primary);
}
